table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 40%;
  width: 40%;
  border-collapse: collapse;
  text-align: left;
}
caption {
  border-bottom: 1px solid #ccc;
  border-right: 30px solid #fff;
  border-left: 30px solid #fff;
  padding: 8px 2px;
}
th {
  font-weight: normal;
  border-bottom: 2px solid #6678b1;
  border-right: 30px solid #fff;
  border-left: 30px solid #fff;
  color: #039;
  padding: 8px 2px;
}
td {
  border-bottom: 1px solid #ccc;
  border-right: 30px solid #fff;
  border-left: 30px solid #fff;
  color: #669;
  padding: 8px 2px;
}
tr:hover td {background: #e8edff;}
