<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История последних {{ operation_list.count }} операций</title>
</head>
<body>
    <a href="{% url 'calc:main' %}">Главная</a>
    <p>Последних {{ operation_list.count }} операций</p>

    <ul>
    {% for operation_curr in operation_list %}
        <li>{{ operation_curr.operation_text }}</li>
    {% endfor %}
    </ul>
    <br>
    <a href="{% url 'calc:index' %}">Калькулятор</a>
</body>
</html>