{% if operator_list %}
<a href="{% url 'calc:main' %}">Главная</a>
<form action="{% url 'calc:index' %}" method="post"> {% csrf_token %}
    <h1>Калькулятор</h1>
    <input type="text" size="10" name="arg1" value="{{ arg1 }}">
    <select size=1 name="operator_selected">
        <option selected disabled>Выберите оператор</option>
    {% for operator in operator_list %}
        <option
            {% if operator.id == selected_id %} selected {% endif %}
            value="{{ operator.id }}">{{ operator.operator }}</option>
    {% endfor %}
    </select>
    <input type="text" size="10" name="arg2" value="{{ arg2 }}">
    <input type="submit" value="Вычислить">
    <br>
    <p>Результат: {{ result }}</p>
  </form>
  <br>
  <a href="{% url 'calc:history' %}">История</a>
{% else %}
    <p>You didn't select a operator or enter operand for calculate.</p>
{% endif %}
