<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <a href="{% url 'calc:index' %}">Калькулятор</a> (db.sqlite3)
    <br><br>
    <a href="{% url 'calc:api' %}">Калькулятор API</a> (db.sqlite3)
    <br><br>
    <a href="{% url 'polls:index' %}">Polls</a> (polls_db.sqlite3)
</body>
</html>