<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Результаты {{ file_title }}</title>
    <link rel="stylesheet" href="{% static 'css/temp.css' %}">
 </head>
 <body>
  <a href="{% url 'fileloader:index' %}">Главная</a><br>
  <br>
  <table>
   <caption>Таблица для {{ file_title }}</caption>
   <tr>
    <th>Слово</th>
    <th>Количество</th>
   </tr>
   {% for key,value in words_list.items %}
   <tr>
       <td>{{ key }}</td><td>{{ value }}</td>
   </tr>
   {% endfor %}
  </table>
 </body>
</html>
