<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File loader</title>
</head>
<body>
<a href="{% url 'fileloader:index' %}">Главная</a>
{% if not error %}
  <form action="{% url 'fileloader:index' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <h1>Загрузка файла</h1>
    <input type="file" size="20" name="file_path">
    <br> <br>
    <input type="submit" value="Загрузить">
    <br> <br>
  </form>
  <br>
  <a href="{% url 'fileloader:results' %}">Список загрузок</a>
{% else %}
    <p>{{error}}</p>
{% endif %}
</body>
</html>