<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список загрузок</title>
</head>
<body>
    <a href="{% url 'fileloader:index' %}">Главная</a><br>
    <br>
{% if files_list %}
    <p>Список загрузок</p>
    <ul>
        {% for file in files_list %}
        <li><a href="{% url 'fileloader:detail' file.id %}">{{ file.title }}</a></li>
        {% endfor %}
    </ul>
    <br>
{% else %}
    <p>Загруженые файлы отсутствуют.</p>
{% endif %}
</body>
</html>
